* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: inter, "inter Fallback";
  color: #edecec;

  .background-image {
    min-height: 100vh;
    background-image: url("https://www.mintlify.com/hero/bg-dark.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    header {
      position: relative;
      z-index: 10;
      background: transparent;
      div {
        padding: 10px 80px;
        nav {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;

          .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 190px;
              height: 40px;
              filter: brightness(0) invert(1);
              color: #edecec;
            }
          }
          .ul {
            display: flex;
            /* justify-content: center; */
            ul {
              /* border: 10px red solid; */
              width: 100%;
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
              gap: 0px 30px;

              /* justify-content: space-between; */
              align-items: center;
              list-style-type: none;
              font-size: 1.7rem;
            }
          }
          .buttons {
            display: flex;
            /* flex-direction: column; */
            /* justify-content: center; */
            width: 100%;

            .first {
              /* width: 100%; */
              /* margin: 5px;
              border: 0.1px #292828 solid;
              background-color: transparent; */
              color: #edecec;
              padding: 5px 10px;
              border-radius: 30px;
              font-size: 1.7rem;

              /* padding: 10px 18px; */

              /* translucent white */
              background: rgba(255, 255, 255, 0.01);

              /* blur background behind it */
              backdrop-filter: blur(10px);
              -webkit-backdrop-filter: blur(10px);

              /* subtle glass border */
              /* border: 1px solid rgba(255, 255, 255, 0.25); */
              border: none;
              /* color: #ffffff; */
              font-weight: 500;
              cursor: pointer;

              /* glow depth */
              /* box-shadow:
                0 8px 30px rgba(0, 0, 0, 0.35),
                inset 0 1px 0 rgba(255, 255, 255, 0.25);

              transition:
                background 0.2s ease,
                transform 0.15s ease; */
            }
            .second {
              /* width: 100%; */

              margin: 5px;
              padding: 10px 10px;
              font-size: 1.7rem;
              border-radius: 30px;
              color: black;
              background-color: #edecec;
              font-weight: 500;
            }
          }
        }
      }
    }
    /* .first-section { */
    /* a { */
    /* width: 900px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* color: #edecec; */
    /* font-size: 2rem; */
    /* text-decoration: none; */
    /* background: rgba(255, 255, 255, 0.01); */
    /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(10px); */
    /* } */
    /* } */
    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 130px;
      h1 {
        font-size: 6rem;
        text-align: center;
      }
      .second {
        margin-bottom: 40px;
      }
      p {
        text-align: center;
        font-size: 1.5rem;
        line-height: 30px;
      }
      form {
        margin-bottom: 140px;
        padding: 5px 5px;
        border-radius: 100px;
        max-width: 350.5px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        margin-top: 30px;
        /* text-align: center; */
        background: rgba(255, 255, 255, 0.288);
        backdrop-filter: blur(1px);
        border: 1px #edecec30 solid;

        input {
          width: 100%;
          padding: 10px;
          border-radius: 100px;
          background: transparent;
          border: none;
          color: whitesmoke;
          font-size: 1.5rem;
          font-weight: 500;

          &:focus {
            outline: none;
          }
          &::placeholder {
            font-weight: bold;
            opacity: 0.5;
            color: white;
          }
        }
        button {
          width: 50%;
          font-weight: 500;
          font-size: 1.2rem;
          padding: 10px 10px;
          border-radius: 50px;
          border: none;
          color: black;
          background-color: #edecec;
        }
      }
    }
    .img{
        display: flex;
        justify-content: center;
        img{
            border-radius: 20px;
            /* width: 100%;
            height: 100%; */
        }
    }
  }

  main {
    /* .first-section {
      height: 80vh;

      background-image: url("https://www.mintlify.com/hero/bg-dark.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    } */
  }
}
